<form ng-submit="todosCtrl.addTodo()" class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input type="text" ng-model="todosCtrl.modelProps.name" class="form-control" placeholder="Name">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Create TODO</button>
</form>