<div ng-repeat="todo in todosCtrl.todos">
    <ul class="list-group">
        <li class="list-group-item">
            <h3>
                <input ng-click="todosCtrl.removeTodo(todo.id)" type="checkbox">
                {{ todo.name }}
            </h3>
        </li>
    </ul>
</div>